html {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}
body {
	
	color: #007229;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
    font-size: 12px;
}
h1 {
    color: #007229;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}
.welcome {
    border-bottom: medium none;
    color: #007229;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    padding-bottom: 20px;
    padding-top: 20px;
}
h2 {
    color: #007229;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
}
p {
    margin-bottom: 20px;
    margin-top: 0;
}
a, a:visited, a b {
    color: #F98123;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #F98123;
    text-decoration: none;
}
a img {
    border-style: none;
}
form {
    display: inline;
    margin: 0;
    padding: 0;
}
input[type="text"], input[type="password"], textarea {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
}
select {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 2px;
}
label {
    cursor: pointer;
}
#top-holder {
    background: none repeat scroll 0 0 #FFFFFF;
}
#top-line {
    border-color: #F98123;
    border-top: 5px solid #F98123;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
#container {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#container-main {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    z-index: 1000;
}
#container-holder {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    position: relative;
    width: 960px;
}
#container-content {
    float: left;
    width: 960px;
}
#container-home {
    margin: 0 auto;
    width: 960px;
}
#column-left {
    color: #666666;
    float: left;
    width: 220px;
}
#column-right {
    color: #666666;
    float: right;
    width: 220px;
}
#content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #D1D1D1 #D1D1D1 #F98123;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 5px;
    color: #007229;
    margin-bottom: 20px;
    padding: 0 18px 18px;
}
#welcome-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #D1D1D1 #D1D1D1 #F98123;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 5px;
    color: #666666;
    overflow: auto;
    padding: 18px;
}
#welcome-header {
}
#column-left + #column-right + #content, #column-left + #content {
    margin-left: 241px;
}
#column-right + #content {
    margin-right: 241px;
}
#header-holder {
}
#header {
    height: 90px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4px;
    position: relative;
    width: 960px;
    z-index: 99;
}
#header #logo {
    left: 15px;
    position: absolute;
    top: 25px;
}
#header #cart {
    min-width: 300px;
    position: absolute;
    right: 145px;
    top: 0;
    z-index: 9;
}
#header #cart .heading {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #FFFFFF;
    float: right;
    margin-right: 172px;
    margin-top: 15px;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    z-index: 1;
}
#header #cart .heading h4 {
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
}
#header #cart .heading a {
    color: #38B0E3;
    text-decoration: none;
}
#header #cart .heading a span {
    background: url("../image/arrow-down.png") no-repeat scroll 100% 50% #FFFFFF;
    padding-right: 15px;
}
#header #cart .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE;
    border-radius: 0 7px 7px 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 2px #DDDDDD;
    clear: both;
    display: none;
    min-height: 150px;
    padding: 8px;
    position: relative;
    top: -1px;
}
#header #cart.active .heading {
    border-left: 1px solid #EEEEEE;
    border-radius: 7px 7px 0 0;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-top: 5px;
    padding-bottom: 6px;
    padding-top: 10px;
}
#header #cart.active .content {
    display: block;
}
.mini-cart-info table {
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%;
}
.mini-cart-info td {
    border-bottom: 1px solid #EEEEEE;
    color: #000000;
    padding: 10px 5px;
    vertical-align: top;
}
.mini-cart-info .image {
    width: 1px;
}
.mini-cart-info .image img {
    border: 1px solid #EEEEEE;
    text-align: left;
}
.mini-cart-info .name small {
    color: #666666;
}
.mini-cart-info .quantity {
    text-align: right;
}
.mini-cart-info td.total {
    text-align: right;
}
.mini-cart-info .remove {
    text-align: right;
}
.mini-cart-info .remove img {
    cursor: pointer;
}
.mini-cart-total {
    text-align: right;
}
.mini-cart-total table {
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 5px;
}
.mini-cart-total td {
    color: #000000;
    padding: 4px;
}
#header #cart .checkout {
    clear: both;
    text-align: right;
}
#header #cart .empty {
    padding-top: 50px;
    text-align: center;
}
#header #search {
    position: absolute;
    right: 0;
    top: 15px;
    width: 298px;
    z-index: 15;
}
#header .button-search {
    background: url("../image/button-search.png") no-repeat scroll center center transparent;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
    height: 24px;
    left: 0;
    position: absolute;
    width: 28px;
}
#header #search input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 0 #F0F0F0;
    height: 21px;
    padding: 1px 1px 1px 33px;
    width: 262px;
}
#header #welcome {
    position: absolute;
    right: 0;
    text-align: right;
    top: 30px;
    width: 298px;
    z-index: 5;
}
#header .links {
    bottom: 28px;
    font-size: 10px;
    position: absolute;
    right: 0;
}
#header .links a {
    color: #007229;
    display: block;
    float: left;
    font-size: 12px;
    padding: 0 0 0 7px;
    text-decoration: none;
}
#header .links a:hover {
    color: #F98123;
}
#header .links a + a {
    margin-left: 8px;
}
#menu-holder {
    /*border-bottom: 1px solid #FFFFFF;*/
}
.menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    height: 45px;
    line-height: 46px;
    margin-left: auto;
    margin-right: auto;
    width: 958px;
}
#container_boxed .menu {
    background: url("../image/back_header_categories_boxed.png") no-repeat scroll center top transparent;
    width: 958px;
}
.menu ul#topnav {
    margin: 0;
    padding: 0;
}
.menu ul#topnav li {
    display: block;
    float: left;
    height: 50px;
    line-height: 20px;
    list-style: none outside none;
    margin: 0;
    position: relative;
    z-index: 1099;
}
.menu ul#topnav li.dropdown {
    background: url("../image/nav_arrow.png") no-repeat scroll 100% 21px transparent;
}
.menu ul#topnav li a {
    border-right: 1px solid #D1D1D1;
    color: #007229;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12.5px 18px;
    text-decoration: none;
    white-space: nowrap;
}
.menu ul#topnav li:hover {
    position: relative;
    z-index: 1600;
}
.menu ul#topnav li:hover a {
    background-color: #F2F2F2;
}
.menu ul#topnav li.dropdown:hover a {
    background: url("../image/nav_arrow2.png") no-repeat scroll 100% 21px #F2F2F2;
}
.menu ul#topnav ul.children {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    display: none;
    float: left;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 46px;
    width: 179px;
    z-index: 9998;
}
.menu ul#topnav ul.children2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    display: none;
    float: left;
    left: 179px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 179px;
    z-index: 9999;
}
.menu ul#topnav ul.children li {
    clear: both;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}
.menu ul#topnav ul.children a, .menu ul#topnav li:hover ul.children a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #007229;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    margin: 0;
    padding: 7px 4px 7px 15px;
    text-align: left;
    text-transform: none;
    width: 160px;
}
.menu ul#topnav ul.children a:hover, .menu ul#topnav li:hover ul.children li {
    background: none repeat scroll 0 0 transparent;
}
.menu ul#topnav ul.children li.dropdown, .menu ul#topnav li:hover ul.children li.dropdown {
    background: url("../image/nav_arrow3.png") no-repeat scroll right top transparent;
}
.menu ul#topnav ul.children li a:hover {
    background: none repeat scroll 0 0 #F2F2F2;
}
#notification {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.breadcrumb {
    color: #666666;
    margin-bottom: 10px;
    margin-top: 14px;
}
.breadcrumb a {
    color: #007229 !important;
    font-weight: bold;
    text-decoration: none;
}
.breadcrumb a:hover {
    color: #F98123;
}
.success, .warning, .attention, .information {
    padding: 14px 10px 14px 33px;
}
.success {
    background: url("../image/success.png") no-repeat scroll 10px center #FFFFFF;
}
.warning {
    background: url("../image/warning.png") no-repeat scroll 10px center #718999;
}
.attention {
    background: url("../image/attention.png") no-repeat scroll 10px center #FFFFFF;
}
.success .close, .warning .close, .attention .close, .information .close {
    cursor: pointer;
    float: right;
    padding-right: 4px;
    padding-top: 4px;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    color: #FF0000;
    display: block;
}
.help {
    color: #999999;
    display: block;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
table.form {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
table.form tr td:first-child {
    width: 150px;
}
table.form > * > * > td {
    color: #000000;
}
table.form td {
    padding: 4px;
}
input.large-field, select.large-field {
    width: 300px;
}
table.list {
    border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}
table.list td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
table.list thead td {
    background-color: #EFEFEF;
    padding: 0 5px;
}
table.list thead td a, .list thead td {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}
table.list tbody td {
    padding: 0 5px;
    vertical-align: top;
}
table.list .left {
    padding: 7px;
    text-align: left;
}
table.list .right {
    padding: 7px;
    text-align: right;
}
table.list .center {
    padding: 7px;
    text-align: center;
}
table.radio {
    border-collapse: collapse;
    width: 100%;
}
table.radio td {
    padding: 5px;
    vertical-align: top;
}
table.radio td label {
    display: block;
}
table.radio tr td:first-child {
    width: 1px;
}
table.radio tr td:first-child input {
    margin-top: 1px;
}
table.radio tr.highlight:hover td {
    background: none repeat scroll 0 0 #F1FFDD;
    cursor: pointer;
}
.pagination {
    border-top: 1px solid #EEEEEE;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 8px;
    width: 100%;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #D1D1D1;
    color: #A3A3A3;
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
}
.pagination .links a:hover {
    background: none repeat scroll 0 0 #F5F5F5;
}
.pagination .links b {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #D1D1D1;
    display: inline-block;
    font-weight: bold;
    padding: 4px 10px;
    text-decoration: none;
}
.pagination .results {
    float: right;
    padding-top: 3px;
}
a.button, input.button {
    background: url("../image/button-s.png") repeat-x scroll 0 0 #F98123;
    border: 1px solid #F98123;
    border-radius: 4px 4px 4px 4px;
    color: #F8F8F8;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    line-height: 1em;
    padding: 8px 15px;
    text-decoration: none !important;
}
input.button {
    padding: 5px 11px;
}
a.button span {
}
a.button:hover, input.button:hover {
    cursor: pointer;
    opacity: 0.8;
}
a.button:hover span {
}
.buttons {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 20px;
    overflow: auto;
    padding: 6px;
}
.buttons .left {
    float: left;
    text-align: left;
}
.buttons .right {
    float: right;
    text-align: right;
}
.buttons .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.htabs {
    border-bottom: 1px solid #DDDDDD;
    height: 30px;
    line-height: 16px;
}
.htabs a {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: none;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-right: 2px;
    padding: 7px 15px 6px;
    text-align: center;
    text-decoration: none;
}
.htabs a.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #F98123;
    padding-bottom: 7px;
}
.tab-content {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 20px;
    padding: 10px;
    z-index: 2;
}
.box {
}
.box .box-heading {
    border-bottom: medium none;
    color: #007229;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.box .box-content {
    color: #666666;
}
.box-product {
    overflow: auto;
    width: 103%;
}
.box-product > div {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 5px solid #F98123 !important;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    border-top: 1px solid #D1D1D1;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 21px;
    padding: 10px;
    vertical-align: top;
    width: 200px;
}
#column-left + #column-right + #content .box-product > div {
    width: 119px;
}
.box-product .image {
    display: block;
    margin-bottom: 5px;
}
.box-product .image img {
}
.box-product .name a {
    color: #007229;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    text-decoration: none;
}
.box-product .name a:hover {
    color: #F98123;
}
.box-product .description {
    color: #555555;
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 14px;
    margin-top: 0 !important;
}
.box-product .price {
    color: #007229;
    display: block;
    float: left;
    font-size: 15px;
    margin-bottom: 4px;
    margin-top: 6px;
}
.box-product .price-old {
    color: #FF0000;
    text-decoration: line-through;
}
.box-product .price-new {
    font-weight: bold;
}
.box-product .rating {
    display: block;
    margin-bottom: 4px;
}
.box-product .cart {
    color: #333333;
    display: block;
    float: right;
    font-weight: bold;
    margin-bottom: 4px;
}
.box-left {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 21px;
}
.box-left .box-heading {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D1D1D1 #D1D1D1 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #007229;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 18px;
}
.box-left .box-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #D1D1D1 #D1D1D1;
    border-image: none;
    border-right: 1px solid #D1D1D1;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}
.box-left .box-product-left {
    overflow: auto;
    padding: 10px 0 0;
    width: 100%;
}
.box-left .box-product-left > div {
    float: left;
    margin-bottom: 5px;
    width: 180px;
}
.box-left .box-product-left .image {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.box-left .box-product-left .image img {
    float: left;
}
.box-left .box-product-left .name {
}
.box-left .box-product-left .name a {
    color: #666666;
    margin-bottom: 4px;
    text-decoration: none;
}
.box-left .box-product-left .name a:hover {
    color: #F98123;
}
.box-left .box-product-left .name a:hover {
}
.box-left .box-product-left .price {
    float: left;
    font-weight: bold;
    margin-bottom: 4px;
}
.box-left .box-product-left .price-old {
    color: #FF0000;
    text-decoration: line-through;
}
.box-left .box-product-left .price-new {
    font-weight: bold;
}
.box-left .box-product-left .rating {
    display: block;
    margin-bottom: 4px;
}
.sidebarbottom {
    height: 13px;
    margin-bottom: 15px;
}
.box-category {
    margin-top: -5px;
}
.box-category ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.box-category > ul > li {
    padding: 6px 8px 6px 0;
}
.box-category > ul > li + li {
}
.box-category > ul > li > a {
    color: #007229;
    text-decoration: none;
}
.box-category > ul > li ul {
    display: none;
}
.box-category > ul > li a.active {
    font-weight: bold;
}
.box-category > ul > li a.active + ul {
    display: block;
}
.box-category > ul > li ul > li {
    padding: 5px 5px 0 10px;
}
.box-category > ul > li ul > li > a {
    color: #007229;
    display: block;
    text-decoration: none;
}
.box-category > ul > li > a:hover, .box-category > ul > li ul > li > a:hover {
    color: #F98123;
}
.box-category > ul > li ul > li > a.active {
    font-weight: bold;
}
#content .content {
    list-style: none outside none !important;
    margin-bottom: 20px;
    overflow: auto;
    padding: 10px;
}
#content .content .left {
    float: left;
    width: 49%;
}
#content .content .right {
    float: right;
    width: 49%;
}
.category-info {
    margin-bottom: 20px;
    overflow: auto;
}
.category-info .image {
    float: left;
    margin-right: 15px;
    padding: 5px;
}
.category-list {
    margin-bottom: 20px;
    overflow: auto;
}
.category-list ul {
    float: left;
    list-style: none outside none;
    width: 18%;
}
.category-list .div a {
    font-weight: bold;
    text-decoration: underline;
}
.manufacturer-list {
    border: 1px solid #DBDEE1;
    margin-bottom: 20px;
    overflow: auto;
    padding: 5px;
}
.manufacturer-heading {
    background: none repeat scroll 0 0 #F8F8F8;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 5px 8px;
}
.manufacturer-content {
    padding: 8px;
}
.manufacturer-list ul {
    float: left;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 0;
    width: 25%;
}
.product-filter {
    border-bottom: 1px solid #EEEEEE;
    overflow: auto;
    padding-bottom: 5px;
}
.product-filter .display {
    color: #007229;
    float: left;
    margin-right: 15px;
    padding-top: 4px;
}
.product-filter .display a {
    font-weight: bold;
}
.product-filter .sort {
    color: #007229;
    float: right;
}
.product-filter .limit {
    color: #007229;
    float: right;
    margin-left: 15px;
}
.product-compare {
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 6px;
}
.product-compare a {
    font-weight: bold;
    text-decoration: none;
}
.product-list > div {
    margin-bottom: 15px;
    overflow: auto;
}
.product-list .right {
    float: right;
    margin-left: 15px;
}
.product-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px;
}
.product-list .image {
    float: left;
    margin-right: 10px;
}
.product-list .image img {
}
.product-list .name {
    margin-bottom: 3px;
}
.product-list .name a {
    font-weight: bold;
    text-decoration: none;
}
.product-list .description {
    color: #007229;
    line-height: 15px;
    margin-bottom: 5px;
}
.product-list .rating {
    color: #7B7B7B;
}
.product-list .price {
    float: right;
    font-size: 12px;
    height: 50px;
    margin-left: 8px;
    text-align: right;
}
.product-list .price-old {
    color: #FF0000;
    text-decoration: line-through;
}
.product-list .price-new {
    font-weight: bold;
}
.product-list .price-tax {
    color: #007229;
    font-size: 12px;
    font-weight: normal;
}
.product-list .cart {
    margin-bottom: 3px;
    text-align: center;
}
.product-list .wishlist, .product-list .compare {
    margin-bottom: 3px;
}
.product-list .wishlist a {
    color: #007229;
    display: block;
}
.product-list .compare a {
    color: #007229;
    display: block;
}
.product-list .wishlist a:hover, .product-list .compare a:hover {
    color: #F98123;
}
.product-grid {
    overflow: auto;
    width: 103%;
}
.product-grid > div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 4.5px;
    padding: 10px;
    vertical-align: top;
    width: 200px;
}
#column-left + #column-right + #content .product-grid > div {
    width: 125px;
}
.product-grid .image {
    display: block;
    margin-bottom: 0;
}
.product-grid .image img {
}
.product-grid .name a {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    text-decoration: none;
}
.product-grid .description {
    display: none;
}
.product-grid .rating {
    display: block;
    margin-bottom: 4px;
}
.product-grid .price {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}
.product-grid .price-old {
    color: #FF0000;
    text-decoration: line-through;
}
.product-grid .price-new {
    font-weight: bold;
}
.product-grid .price .price-tax {
    display: none;
}
.product-grid .cart {
    margin-bottom: 3px;
    text-align: center;
}
.product-grid .wishlist, .product-grid .compare {
    margin-bottom: 3px;
}
.product-grid .wishlist a {
    color: #666666;
    display: block;
    text-align: center;
    text-decoration: none;
}
.product-grid .compare a {
    color: #666666;
    display: block;
    text-align: center;
    text-decoration: none;
}
.product-grid .wishlist a:hover, .product-grid .compare a:hover {
    color: #F98123;
}
.product-info {
    height: 350px;
    margin-bottom: 20px;
    overflow: auto;
}
.product-info > .left {
    float: left;
    margin-right: 15px;
}
.product-info > .left + .right {
    margin-left: 265px;
}
.product-info .image {
    border: 1px solid #E5E5E5;
    float: left;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
.product-info .image-additional {
    clear: both;
    margin-left: -10px;
    overflow: hidden;
    width: 260px;
}
.product-info .image-additional img {
    border: 1px solid #E5E5E5;
}
.product-info .image-additional a {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}
.product-info .description {
    line-height: 20px;
    margin-bottom: 10px;
    padding: 5px 5px 10px;
}
.product-info .description span {
    color: #007229;
    font-weight: bold;
}
.product-info .description a {
    text-decoration: none;
}
.product-info .price {
    color: #F98123;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: auto;
    padding: 0 5px 10px;
}
.product-info .price-old {
    color: #FF0000;
    text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
    color: #007229;
    font-size: 12px;
    font-weight: normal;
}
.product-info .price .reward {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
}
.product-info .price .discount {
    color: #4D4D4D;
    font-size: 12px;
    font-weight: normal;
}
.product-info .options {
    color: #000000;
    margin-bottom: 10px;
    padding: 0 5px 10px;
}
.product-info .option-image {
    margin-bottom: 10px;
    margin-top: 3px;
}
.product-info .option-image label {
    display: block;
    height: 100%;
    width: 100%;
}
.product-info .option-image img {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    margin-right: 5px;
}
.product-info .cart {
    color: #007229;
    margin-bottom: 20px;
    overflow: auto;
    padding: 0 5px 10px;
}
.product-info .cart div {
    float: left;
    vertical-align: middle;
}
.product-info .cart div > span {
    color: #007229;
    display: block;
    padding-top: 7px;
}
.product-info .cart .minimum {
    clear: both;
    color: #999999;
    font-size: 11px;
    padding-top: 5px;
}
.product-info .review {
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
    color: #4D4D4D;
    margin-bottom: 10px;
}
.product-info .review > div {
    border-bottom: 1px solid #E7E7E7;
    line-height: 20px;
    padding: 8px;
}
.product-info .review > div > span {
    color: #38B0E3;
}
.product-info .review .share {
    line-height: normal;
    overflow: auto;
}
.product-info .review .share a {
    text-decoration: none;
}
.review-list {
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
    overflow: auto;
    padding: 10px;
}
.review-list .author {
    float: left;
    margin-bottom: 20px;
}
.review-list .rating {
    float: right;
    margin-bottom: 20px;
}
.review-list .text {
    clear: both;
}
.attribute {
    border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}
.attribute thead td, .attribute thead tr td:first-child {
    background: none repeat scroll 0 0 #F7F7F7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.attribute tr td:first-child {
    font-weight: bold;
    text-align: right;
    width: 20%;
}
.attribute td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 7px;
    text-align: center;
    vertical-align: top;
}
.compare-info {
    border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}
.compare-info thead td, .compare-info thead tr td:first-child {
    background: none repeat scroll 0 0 #F7F7F7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.compare-info tr td:first-child {
    font-weight: bold;
    text-align: right;
}
.compare-info td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 7px;
    text-align: center;
    vertical-align: top;
}
.compare-info .name a {
    font-weight: bold;
}
.compare-info .price-old {
    color: #FF0000;
    font-weight: bold;
    text-decoration: line-through;
}
.compare-info .price-new {
    font-weight: bold;
}
.wishlist-info table {
    border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}
.wishlist-info td {
    padding: 7px;
}
.wishlist-info thead td {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    color: #4D4D4D;
    font-weight: bold;
}
.wishlist-info thead .image {
    text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
    text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
    text-align: right;
}
.wishlist-info tbody td {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: top;
}
.wishlist-info tbody .image img {
    border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
    text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
    text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
    text-align: right;
}
.wishlist-info tbody .price s {
    color: #FF0000;
}
.wishlist-info tbody .action img {
    cursor: pointer;
}
.login-content {
    margin-bottom: 20px;
    overflow: auto;
}
.login-content .left {
    float: left;
    width: 48%;
}
.login-content .right {
    float: right;
    width: 48%;
}
.login-content .left .content, .login-content .right .content {
    min-height: 190px;
}
.order-list {
    margin-bottom: 10px;
}
.order-list .order-id {
    float: left;
    margin-bottom: 2px;
    width: 49%;
}
.order-list .order-status {
    float: right;
    margin-bottom: 2px;
    text-align: right;
    width: 49%;
}
.order-list .order-content {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
}
.order-list .order-content div {
    float: left;
    width: 33.3%;
}
.order-list .order-info {
    text-align: right;
}
.order-detail {
    background: none repeat scroll 0 0 #EFEFEF;
    font-weight: bold;
}
.return-list {
    margin-bottom: 10px;
}
.return-list .return-id {
    float: left;
    margin-bottom: 2px;
    width: 49%;
}
.return-list .return-status {
    float: right;
    margin-bottom: 2px;
    text-align: right;
    width: 49%;
}
.return-list .return-content {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
}
.return-list .return-content div {
    float: left;
    width: 33.3%;
}
.return-list .return-info {
    text-align: right;
}
.return-product {
    margin-bottom: 20px;
    overflow: auto;
}
.return-name {
    float: left;
    margin-right: 15px;
    width: 31%;
}
.return-model {
    float: left;
    margin-right: 15px;
    width: 31%;
}
.return-quantity {
    float: left;
    width: 31%;
}
.return-detail {
    margin-bottom: 20px;
    overflow: auto;
}
.return-reason {
    float: left;
    margin-right: 15px;
    width: 31%;
}
.return-opened {
    float: left;
    margin-right: 15px;
    width: 31%;
}
.return-opened textarea {
    vertical-align: top;
    width: 98%;
}
.return-captcha {
    float: left;
}
.download-list {
    margin-bottom: 10px;
}
.download-list .download-id {
    float: left;
    margin-bottom: 2px;
    width: 49%;
}
.download-list .download-status {
    float: right;
    margin-bottom: 2px;
    text-align: right;
    width: 49%;
}
.download-list .download-content {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
}
.download-list .download-content div {
    float: left;
    width: 33.3%;
}
.download-list .download-info {
    text-align: right;
}
.cart-info table {
    border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}
.cart-info td {
    padding: 7px;
}
.cart-info thead td {
    background: url("../image/container-bg.png") repeat scroll 0 bottom #F2F2F2;
    border-bottom: 1px solid #D1D1D1;
    font-weight: bold;
}
.cart-info thead .image {
    text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
    text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
    text-align: right;
}
.cart-info tbody td {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: top;
}
.cart-info tbody .image img {
    border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
    text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
    text-align: left;
}
.cart-info tbody .quantity input[type="image"], .cart-info tbody .quantity img {
    cursor: pointer;
    position: relative;
    top: 4px;
}
.cart-info tbody .price, .cart-info tbody .total {
    text-align: right;
}
.cart-info tbody span.stock {
    color: #FF0000;
    font-weight: bold;
}
.cart-module > div {
    display: none;
}
.cart-total {
    border-top: 1px solid #DDDDDD;
    margin-bottom: 15px;
    overflow: auto;
    padding-top: 8px;
}
.cart-total table {
    float: right;
}
.cart-total td {
    padding: 3px;
    text-align: right;
}
.checkout-heading {
    background: url("../image/container-bg.png") repeat scroll 0 bottom #F2F2F2;
    border: 1px solid #D1D1D1;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 8px;
}
.checkout-heading a {
    float: right;
    font-weight: normal;
    margin-top: 1px;
    text-decoration: none;
}
.checkout-content {
    display: none;
    overflow: auto;
    padding: 0 0 15px;
}
.checkout-content .left {
    float: left;
    width: 48%;
}
.checkout-content .right {
    float: right;
    width: 48%;
}
.checkout-content .buttons {
    clear: both;
}
.checkout-product table {
    border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}
.checkout-product td {
    padding: 7px;
}
.checkout-product thead td {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    color: #4D4D4D;
    font-weight: bold;
}
.checkout-product thead .name, .checkout-product thead .model {
    text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
    text-align: right;
}
.checkout-product tbody td {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: top;
}
.checkout-product tbody .name, .checkout-product tbody .model {
    text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
    text-align: right;
}
.checkout-product tfoot td {
    border-bottom: 1px solid #DDDDDD;
    text-align: right;
}
.contact-info {
    overflow: auto;
}
.contact-info .left {
    float: left;
    width: 48%;
}
.contact-info .right {
    float: left;
    width: 48%;
}
.sitemap-info {
    margin-bottom: 40px;
    overflow: auto;
}
.sitemap-info .left {
    float: left;
    width: 48%;
}
.sitemap-info .right {
    float: left;
    width: 48%;
}
.nivoSlider
{
width:960px !important;
}
#footer {
    /*border-top: 1px solid #FFFFFF;*/
    float: left;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
#footer .footer-area {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
#footer .footer-wrapper {
    width: 985px;
}
#footer .footer-holder {
    padding: 45px 0 0 11.5px;
    width: 100%;
}
#footer .footer-default {
    float: left;
    overflow: hidden;
    padding: 25px 0;
    width: 985px;
}
#footer h4 {
    color: #007229;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    list-style: none outside none;
    margin-bottom: 16px;
    margin-right: 21px !important;
    padding-bottom: 7px;
    width: 225px !important;
}
.footer-area .column_3 {
    color: #666666;
    float: left !important;
    list-style: none outside none;
    margin-right: 21px !important;
    width: 225px !important;
}
.footer-area .column_3 a {
    color: #FEFEFE;
    font-size: 11px;
    line-height: 18px;
    list-style: none outside none;
    text-decoration: none;
}
.footer-area .column_3 p {
    color: #666666;
    float: left !important;
    line-height: 20px;
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 21px !important;
    margin-top: 0;
    padding: 0;
    width: 225px !important;
}
.footer-area .column_3 ul {
    list-style: none outside none;
}
#footer-inner .column_3 li {
    list-style: none outside none;
}
.footer-area .header_3 {
    color: #666666;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    list-style: none outside none;
    margin-bottom: 16px;
    margin-right: 21px !important;
    padding-bottom: 7px;
    width: 220px !important;
}
.footer-area .column_4 {
    color: #666666;
    float: left !important;
    list-style: none outside none;
    margin-right: 21px !important;
    width: 305px !important;
}
.footer-area .column_4 a {
    color: #FEFEFE;
    font-size: 11px;
    line-height: 18px;
    list-style: none outside none;
    text-decoration: none;
}
.footer-area .column_4 p {
    color: #666666;
    float: left !important;
    line-height: 20px;
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 21px !important;
    margin-top: 0;
    padding: 0;
    width: 305px !important;
}
.footer-area .column_4 ul {
    list-style: none outside none;
}
#footer-inner .column_4 li {
    list-style: none outside none;
}
.footer-area .header_4 {
    color: #666666;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    list-style: none outside none;
    margin-bottom: 16px;
    margin-right: 21px !important;
    padding-bottom: 7px;
    width: 305px !important;
}
.footer-area .column_6 {
    color: #666666;
    float: left !important;
    list-style: none outside none;
    margin-right: 21px !important;
    width: 469px !important;
}
.footer-area .column_6 a {
    color: #666666;
    line-height: 18px;
    list-style: none outside none;
    text-decoration: none;
}
.footer-area .column_6 p {
    color: #666666;
    float: left !important;
    line-height: 20px;
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 21px !important;
    margin-top: 0;
    padding: 0;
    width: 469px !important;
}
.footer-area .column_6 ul {
    list-style: none outside none;
}
#footer-inner .column_6 li {
    list-style: none outside none;
}
.footer-area .header_6 {
    color: #666666;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    list-style: none outside none;
    margin-bottom: 16px;
    margin-right: 21px !important;
    padding-bottom: 7px;
    width: 469px !important;
}
.footer-area .column_12 {
    color: #666666;
    float: left !important;
    list-style: none outside none;
    width: 960px !important;
}
.footer-area .column_12 a {
    color: #666666;
    line-height: 18px;
    list-style: none outside none;
    text-decoration: none;
}
.footer-area .column_12 p {
    color: #666666;
    float: left !important;
    line-height: 20px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 960px !important;
}
.footer-area .column_12 ul {
    list-style: none outside none;
}
#footer-inner .column_12 li {
    list-style: none outside none;
}
.footer-area .header_12 {
    color: #666666;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    list-style: none outside none;
    margin-bottom: 16px;
    padding-bottom: 7px;
    width: 960px !important;
}
#footer .column {
    float: left !important;
    list-style: none outside none;
    margin-right: 21px !important;
    width: 225px !important;
}
#footer .column ul {
    list-style: none outside none !important;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}
#footer .column ul li {
    color: #666666;
    margin-bottom: 3px;
}
#footer .column a {
    color: #007229;
    list-style: none outside none;
    text-decoration: none;
}
#footer .column a:hover {
    color: #F98123;
}
#footer .column2 {
    float: left !important;
    list-style: none outside none;
    margin-right: 18px !important;
    width: 100%;
}
#footer .column2 ul {
    list-style: none outside none !important;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}
#footer .column2 ul li {
    color: #666666;
    margin-bottom: 3px;
}
#footer .column2 a {
    color: #666666;
    font-size: 11px;
    line-height: 18px;
    list-style: none outside none;
    text-decoration: none;
}
#powered {
    clear: both;
    font-size: 11px;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px 1px;
}
#powered-holder {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
#powered a {
    color: #666666;
    font-size: 11px;
}
#powered a:hover {
    color: #F98123;
}
#paymentimage {
    float: right;
    margin-top: -19px;
}
.s_widget_holder {
    margin-top: -48px;
}
#twitter a {
    color: #CCCCCC;
}
#twitter li {
    list-style: none outside none;
    margin-bottom: 18px;
    margin-left: -38px;
}
#twitter li a {
    color: #666666;
    font-size: 10px !important;
    font-style: normal;
    opacity: 0.5;
    white-space: nowrap;
}
#twitter li span, #twitter li span * {
    font-size: 12px !important;
    font-style: italic !important;
    line-height: 16px;
}
#twitter li span * {
    display: inline !important;
    margin: 0;
    padding: 0;
}
#twitter li span a {
    color: #666666;
    opacity: 1;
}
#twitter li span a:hover {
    color: #F98123;
}
#twitter li span:after {
    content: ".";
    visibility: hidden;
}
#twitter ul {
    margin-bottom: -20px;
}
.banner div {
    text-align: center;
    width: 100%;
}
.banner div img {
    margin-bottom: 20px;
}
#banner-wrapper {
    width: 103%;
}
.banner_4 div {
    display: inline-block;
    margin-right: 21px;
}
.banner_4 div img {
    border: 1px solid #D1D1D1;
    display: inline-block;
    width: 302px;
}
.banner_6 div {
    display: inline-block;
    margin-right: 21px;
}
.banner_6 div img {
    border: 1px solid #D1D1D1;
    display: inline-block;
    width: 466px;
}
.banner_12 div img {
    border: 1px solid #D1D1D1;
    display: inline-block;
    width: 958px;
}
#slide-holder {
    margin-top: -20px;
    padding: 20px 20px 0;
    position: relative;
    z-index: 95;
}
.slider-wrapper, .slides-wrapper {
    position: relative;
}
.slider-inner {
    border-radius: 0 0 4px 4px;
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 20px;
    position: relative;
    z-index: 93;
}
.slides-wrapper {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 10px 40px;
    position: relative;
    z-index: 93;
}
.slider-shadow1 {
    background: url("../image/shadow-1.png") no-repeat scroll center center transparent;
    height: 40px;
    left: 10px;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: 3;
}
.slider-shadow2 {
    background: url("../image/shadow-2.png") no-repeat scroll 0 0 transparent;
    height: 336px;
    left: -8px;
    margin: -168px 0 0;
    position: absolute;
    top: 50%;
    width: 44px;
    z-index: 3 !important;
}
.slider-shadow3 {
    background: url("../image/shadow-3.png") no-repeat scroll 0 0 transparent;
    height: 336px;
    margin: -168px 0 0;
    position: absolute;
    right: -8px;
    top: 50%;
    width: 44px;
    z-index: 3;
}
.slider-shadow4 {
    background: url("../image/shadow-4.png") no-repeat scroll 0 0 transparent;
    bottom: -23px;
    height: 145px;
    left: -104px;
    position: absolute;
    width: 1168px;
    z-index: 3;
}
.slideshow-bottom {
    border-bottom: 1px solid #FFFFFF;
    bottom: 0;
    height: 84px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
}
.clear {
    clear: both;
}
#isisside {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F8F8F8;
    border-color: #D1D1D1 #D1D1D1 #D1D1D1 #F98123;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    box-shadow: 0 0 3px #CCCCCC;
    height: 124px;
    left: 0;
    position: fixed;
    top: 152px;
    width: 36px;
    z-index: 999999999999999;
}
#isisside ul {
    z-index: 999999999999999;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#isisside ul li {
    z-index: 999999999999999;
    margin: 0;
    position: relative;
}
#isisside ul li span.icon {
    display: block;
    height: 30px;
    margin-left: 3px;
    text-indent: -9999px;
    width: 30px;
}
#isisside ul li.side_cart span.icon {
    background: url("../image/cart_icon.png") no-repeat scroll 50% 50% transparent;
}
#isisside ul li.side_currency span.icon {
    background: url("../image/currency_icon.png") no-repeat scroll 50% 50% transparent;
}
#isisside ul li.side_lang span.icon {
    background: url("../image/lang_icon.png") no-repeat scroll 50% 50% transparent;
}
#isisside ul li.side_search span.icon {
    background: url("../image/search_icon.png") no-repeat scroll 50% 50% transparent;
}
#isisside ul li:hover {
    cursor: pointer;
    z-index: 999999999999999;
}
#isisside #cart {
    z-index: 999999999999999;
    display: none;
    left: 35px;
    min-width: 300px;
    padding: 0;
    position: absolute;
    top: 0;
}
#isisside #cart .heading {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 8px #666666;
    margin-bottom: 6px;
    margin-left: 1px;
    padding: 6px 14px;
    text-align: center;
    white-space: nowrap;
}
#isisside #cart h4 {
    color: #F98123;
    font-size: 16px;
    letter-spacing: -1px;
    margin-bottom: 6px;
    margin-top: 0;
    text-align: center;
}
#isisside #cart .heading a {
    color: #666666;
    text-decoration: none;
}
#isisside #cart .heading a span {
    font-size: 13px;
    padding: 3px 19px 3px 7px;
    text-align: center;
}
#isisside #cart .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 8px #666666;
    clear: both;
    display: block;
    margin-left: 1px;
    min-height: 150px;
    padding: 8px;
    top: 2px;
}
#isisside #cart .cart {
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%;
}
#isisside #cart .cart td {
    border-bottom: 1px solid #EEEEEE;
    color: #666666;
    padding: 10px 5px;
    vertical-align: top;
}
#isisside #cart .cart td.name {
    text-align: left;
}
#isisside #cart .cart .image {
    width: 1px;
}
#isisside #cart .cart .image img {
    border: 1px solid #EEEEEE;
    text-align: left;
}
#isisside #cart .cart .name small {
    color: #666666;
}
#isisside #cart .cart .quantity {
    text-align: right;
}
#isisside #cart .cart td.total {
    text-align: right;
}
#isisside #cart .cart .remove {
    text-align: right;
}
#isisside #cart .cart .remove img {
    cursor: pointer;
}
#isisside #cart table.total {
    border-collapse: collapse;
    clear: left;
    float: right;
    margin-bottom: 5px;
    padding: 5px;
}
#isisside #cart table.total td {
    color: #666666;
}
#isisside #cart .content .checkout {
    clear: both;
    text-align: right;
}
#isisside #cart .empty {
    padding-top: 50px;
    text-align: center;
}
#isisside #currency {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 8px #666666;
    display: none;
    float: left;
    left: 35px;
    margin-bottom: 6px;
    margin-left: 1px;
    padding: 4px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: nowrap;
}
#isisside #language {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 8px #666666;
    display: none;
    float: left;
    left: 35px;
    margin-left: 1px;
    padding: 8px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: nowrap;
}
#isisside #search {
    z-index: 999999999999999;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 8px #666666;
    display: none;
    float: left;
    left: 35px;
    margin-left: 1px;
    padding: 4px 0 4px 4px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: nowrap;
}
#isisside #search {
    width: 193px;
}
#isisside #currency a {
    color: #777777;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 2px;
    padding: 4px 8px;
    text-decoration: none;
}
#isisside #language a {
    display: inline-block;
    margin: 0 0 0 2px;
    padding: 2px 4px;
    text-decoration: none;
}
#isisside #search input {
    color: #777777;
    float: left;
    height: 21px;
    padding: 1px 26px 1px 5px;
    width: 130px;
}
#isisside .button-search {
    background: url("../image/search_icon.png") no-repeat scroll 50% 50% transparent;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 25px;
}
